
body {
    background-color: #E9E3CF;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  /* --- Contenedor del formulario --- */
  .formulario {
    background-color: #DCD2C5; 
    padding: 40px 50px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
  }
  
  /* --- Título --- */
  .formulario h1 {
    background-color: #7A5B4A;
    color: #661C1C; 
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    font-family: 'Cinzel Decorative', serif;
  }
  
  /* --- Etiquetas y campos --- */
  label {
    display: block;
    color: #B2316B; 
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 0.85rem;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin-bottom: 15px;
    font-size: 1rem;
  }
  
  /* --- Texto de recordar contraseña --- */
  .recordar {
    color: #D13477;
    font-size: 0.9rem;
    text-align: left;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .recordar:hover {
    text-decoration: underline;
  }
  
  /* --- Botón de inicio --- */
  input[type="submit"] {
    background-color: #7A5B4A; 
    color: #2B1A14; /* texto más oscuro */
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  input[type="submit"]:hover {
    background-color: #6B4E3D;
    transition: 0.3s;
  }
  
  .logo {
    display: block;
    margin: 0 auto 20px auto; /* Centra la imagen y da espacio abajo */
    width: 100px;             
    height: auto;             

  }

  .separador {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.separador::before,
.separador::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.separador span {
    padding: 0 10px;
    color: #666;
    font-size: 14px;
}

.g_id_signin {
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.user-info {
    position: fixed;
    top: 20px;
    right: 20px;
    background: white;
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    display: flex;
    gap: 10px;
    align-items: center;
}

.rol-badge {
    background: #9b6330;
    color: white;
    padding: 3px 10px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
}